/fasttext_food_normalized.txt
/searches/data/fasttext_model_cbow.bin
/db.sqlite3
/stopwords.txt
/searches/data/WIKIpuredata.json
/searches/TransformerVecs.tar.gz
/searches/data/stopwords.txt
/searches/data/MamyFoodpuredata.json
/searches/data/fasttext_model_cbow.bin
/searches/data/fasttext_food_normalized.txt
.idea/
WIKIpuredata.json
MamyFoodpuredata.json
__pycache__
