<!-- templates/base.html -->
<html>
<head>
    <style>
        * {
            direction: rtl;
        }

        body {
            background-color: #d3ece8 !important;
        }
    </style>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <title>Cook Book</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico/">
</head>
<body>

{% block heading %}
    <h1>
        <center>{{ name }}</center>
    </h1>
{% endblock heading %}
<div class="px-3">
    <h2> مواد مورد نیاز</h2>
</div>
<ul class="list-group mt-3 justify-center align-items-center px-5">
    {% for ing, score in ingredients %}
        <li class="list-group-item w-100">
            {{ ing }}     ({{ score }})
        </li>
    {% endfor %}
</ul>
<div class="px-4">
    <h2> طرز تهیه</h2>
    <span>
        {{ Preparation }}
    </span>
</div>
<div class="px-3">
    <h2 class="px-3">لینک</h2>
    <a href="{{ url }}" class="link-primary">از اینجا با عکس بینید</a>
</div>

</body>

</html>