<!-- templates/base.html -->
<html>
<body>
{% block heading %}
<h1>جست و جوی غذایی</h1>
{% endblock heading %}
<input id="search-input" type="text" value="{{ text }}" onkeyup="list_update()">
<button onclick="search_func()">search</button>
<select name="approachs" id="approach">
    <option value="boolean">boolean</option>
    <option value="tf-idf">tf-idf</option>
    <option value="transformer">transformer</option>
    <option value="fast-text">fast-text</option>
    <option value="elastic-search">elastic-search</option>
</select>
<ul id="nextwords">
    {% for option in options %}
    <li>
        <a href="/show-results/boolean/{{ option }}"> {{ option }} </a>
    </li>
    {% endfor %}
</ul>
<script>
    function search_func() {
        var text = document.getElementById("search-input").value;
        var app = document.getElementById("approach").value;
        window.location.href = '/show-results/' + app + '/' + text;
    }

    function list_update() {
        var text = document.getElementById("search-input").value;
        var app = document.getElementById("approach").value;
        if(text.length>0) {
            fetch('/next_words/' + app + '/' + text)
                .then(response => response.text()) // convert the response to raw text
                .then((option1) => {
                    document.getElementById("nextwords").innerHTML = option1
                });
        }
    }
</script>

</body>

</html>

